

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Edit post</h3>
<div class="box">
    <div class="text-center">
        {% for cat, msg in get_flashed_messages(True) %}
        <ul class="list-group">
            <li class="list-group-item list-group-item-{{cat}}">{{msg}}</li>
        </ul>
        {%endfor %}
        {% from "_render_field.html" import render_field %}
        <form action="{{url_for('posts.update_post', post_id=post.id)}}" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ render_field(form.title) }}
            {{ render_field(form.body) }}
            <p>{{ form.submit(class='btn btn-primary') }}
            <a class="btn btn-danger" href="{{url_for('posts.delete_post', post_id=post.id)}}"  style="color: white;">Delete</a></p>
        </form>

    </div>
</div>
</div>
{% endblock %}