{% extends "base.html" %}

{% block content %}
<img src="{{ url_for('static', filename='../../../../static/images/IMG_3035-01.jpg') }}"  class="profile-img" width="300" height="411">
<h5>ABOUT ME</h5>
<p>
    I`m beginner developer in Precarpatian university.
</p>
<p>
    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero,
    a pharetra augue. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum
    nulla sed consectetur. Curabitur blandit tempus porttitor. Maecenas sed diam eget risus
    varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit.
    Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus
    commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam.
    Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit
    sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet
    rutrum faucibus dolor auctor.
</p>
{% endblock %}
